<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .nav-link, .navbar-brand, .dropdown-item {
            font-size: 1.2em; /* Увеличенный шрифт для всех элементов навигации */
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Video Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cameras}">Камеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/streams}">Стримы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/videos}">Видео</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetables}">Расписания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/regulartimetables}">Регулярные расписания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/actionlogs}">Журнал действий</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>