<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Stream</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .navbar-nav .nav-link {
            font-size: 18px; /* Увеличение размера текста */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Videostreamer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/cameras">Камеры</a></li>
            <li class="nav-item"><a class="nav-link" href="/streams">Стримы</a></li>
            <li class="nav-item"><a class="nav-link" href="/videos">Видео</a></li>
            <li class="nav-item"><a class="nav-link" href="/timetables">Расписания</a></li>
            <li class="nav-item"><a class="nav-link" href="/regular-timetables">Регулярные расписания</a></li>
            <li class="nav-item"><a class="nav-link" href="/action-logs">Журнал действий</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/logout">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-3">
    <h2>Добавить новый стрим</h2>
    <form th:action="@{/streams/add}" th:object="${streamRequest}" method="post">
        <div class="form-group">
            <label for="cameraId">ID камеры:</label>
            <input type="number" id="cameraId" name="cameraId" class="form-control" th:field="*{cameraId}" required>
        </div>
        <div class="form-group">
            <label for="outputUrl">URL:</label>
            <input type="text" id="outputUrl" name="outputUrl" class="form-control" th:field="*{outputUrl}" required>
        </div>
        <div class="form-group">
            <label for="time">Продолжительность:</label>
            <input type="number" id="time" name="time" class="form-control" th:field="*{time}" required>
        </div>
        <div class="form-group">
            <label for="isUsed">Используется?</label>
            <select id="isUsed" name="isUsed" class="form-control" th:field="*{isUsed}" required>
                <option value="true">Да</option>
                <option value="false">Нет</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить стрим</button>
    </form>
</div>
</body>
</html>